.main {
    display: flex;
    margin: 15px;
    padding-bottom: 75px;
}

.title {
    padding: 10px;
    font-size: 30pt;
    background-color: #EEBBB7;
    font-weight: normal;
    font-style: italic;
    width: 40%;
}
.main img {
    padding-left: 50px;
    float: right;
}

@media only screen and (max-width: 630px) {
    .title {
        width: 70%;
    }
    .main img {
        display: none;
    }
}

p {
    font-size: 16pt;
    text-align: justify;
}